@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
}

.hero {

}



body {display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #242424;
    background-color: #ffffff;
    width: 1200px;
    padding: 0;
    margin: 0;

}

/* header.main-header*/

.visually-hidden {
    display: none;
}

.main-header {
    color: #000000;
    background-color: #ffffff;
}
.main-container {
    flex-grow: 1;
  }

.navigation{
    display: flex;
    flex-wrap: wrap;
    padding: 0 70px 0 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.navigation-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.navigation-item-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 30px;
}

.navigation-link-main {
    font-family: 'PT Sans', sans-serif;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    text-decoration: none;

}

.number-good-things{
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #7db54f;
  position: absolute;
  top: -9px;
  right: -9px;
  color: #ffffff;
  font-family: 'PT Sans' , sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
}

.navigation-link-main-relative{
  position: relative;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url('../images/bg-hero.jpg');
    position: relative;
    width: 1200px;
    height: 485px;
    color: #ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-welcom-text {
  background-image: url('../images/welcome.svg');
  width: 458px;
  height: 352px;
  margin: 51px 0 82px 0;
}

.hero .hero-stairs {
    position: absolute;
    bottom: 0;
}

/* Title */

.about-sedona {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;

}
.advantages-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1200px;
    padding: 69px 0px;

}

.square-tourists,
.road {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;


}

.advantages-sedona {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;


}

/* List */
.advantages-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.advantages-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}
.advantages-item .line {
  margin: 0 auto;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);

  }
.advantages-item.blue-white .line {
    margin: 0 auto;
    width: 60px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    }


.advantages-description {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 30px 0 0 0;
    color: #333333;
}

.advantages-item-content {
    width: 400px;
    min-height: 384px;
    padding: 90px 85px;
}

.blue-white  {
    display: flex;
    flex-wrap: wrap;
    background: #82b3d3;
    color: #ffffff;
}
.blue-white .advantages-description{
  color: #ffffff;
}
.blue-white-reverse {
  flex-direction: row-reverse;
}


.city-bridge {
    padding: 103px 85px;
}


.square-tourists {
    background: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 385px;

}

.road {
    background: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 385px;
    }

.invitation-title {
    font-family: 'PT Sans', sans-serif;
    line-height: 36px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 20px 0;

}

.invitation-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 64px 0;

}
.invitation-title-description {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 18px;
    margin: 0;
}





.advice-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.advice-item {
    background: rgba(131, 179, 211, 0.12);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.advice-item-content {
    width: 400px;
    min-height: 385px;
    padding: 81px 85px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.advice-item-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

.advice-item-description {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;

}

.food {
    background: #ffffff;
}

.house-svg {
    background-image: url("../images/house.svg");
    width: 75px;
    height: 72px;
    background-size: contain;
    /* background: #83B3D3; */
}

.burger-svg {
    background-image: url("../images/burger.svg");
    width: 74px;
    height: 70px;
    background-size: contain;
}

.box {
    background-image: url("../images/box.svg");
    width: 64px;
    height: 76px;
    background-size: contain;
}

.search-hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 96px 0;
    background-color: #ffffff;
}

.search-hotel-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 592px;

}
.intresting {
    margin: 0 0 20px 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.intresting-description {
    margin: 0 0 54px 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.subscribe-on-messages-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 684px;

}

.subscribe-on-messages {
    background-image: url(../images/bg-subscribe-blur.jpg);
    position: relative;
    width: 1200px;
    height: 415px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subscribe-message {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0 0 20px 0;

}

.subscribe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 684px;
    height: 52px;
}
.subscribe-description {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    line-height: 26px;
    margin: 0 0 54px 0;
}


.email-subscribe {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 14px 20px;
    gap: 260px;
    width: 452px;
    background: #f2f2ff;
    border-radius: 4px 0 0 4px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.button-search {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background: #756157;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 50px;
    border-radius: 4px;
}

.button-subscribe {
    width: 232px;
    height: 52px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    background: #82B3D3;
    border-radius: 0px 4px 4px 0px;
    border: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.link-number,
.site-logo {
    text-decoration: none;
}



.page-footer {
    padding: 40px 70px 30px 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-contacts {

}

.social-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.social-item {
    list-style-type: none;
    padding: 13px;
}

.phone-number {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.phone-number a {
    color: #000000;
}



/*CATALOG*/




.picture-blur {
    background-image: url("../images/bg-catalog-blur.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 70px 70px 70px;
}

.catalog-header {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin-bottom: 40px;
}

.main-topic {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.breadcrumbs-list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.breadcrumbs-item {
    list-style-image: url('../images/icons/arrow-right.svg');
    fill: #ffffff;
    padding: 13px;
    color: #ffffff;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-left: 15px;
}

.breadcrumbs-item:first-child {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
}

.breadcrumbs-item a {
    color: #ffffff;
    text-decoration: none;
}


.filters-form {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
/*    justify-content: center;
    align-items: center;*/
}

.left-content {
    display: flex;
    flex-direction: row;
    width: 371px;
    gap: 70px;
    }


.right-content {
    display: flex;
    flex-direction: row;
    width: 550px;
    gap: 70px;
}

.filters-form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.price-range-input-wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}


legend {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 34px;
}

label {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

label {
    border-radius: 4px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.ready {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background: #82b3d3;
    border-radius: 4px;
    padding: 8px 50px;
}

.cancel {
    width: 191px;
    height: 36px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: #ffffff;
    border: none;
}

.find-price {
    width: 143px;
    height: 48px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-style: normal;
    color: #000000;
}

.catalog-content {
    padding: 50px 70px 60px 70px;
}

.catalog-sort {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.result-hotels {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}


.sorts {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 70px;
}

.price-sort {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}


.products-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.products-card-item {
    width: 340px;
    height: 438px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 20px;
}


.product-card-image {
    margin-bottom: 16px;
}

.product-card-title {
    margin: 0 0 16px 0;
    padding: 0;
}

.product-card-link {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

.product-cart-type-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.product-card-type-of-housing,
.product-card-price {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.more-info {
    padding: 8px 26px;
    background: #756157;
    border: #756157;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.will-favourites {
    background: #82b3d3;
    border: #82b3d3;
}

.did-favourites {
    background: #7db54f;
    border: #7db54f;
}

.product-card-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.show-rating {
    padding: 8px 26px;
    color: #333333;
    background: #f2f2f2;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.catalog-hr {
    margin: 40px 0;
}

.pagination-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.pagination-item {
    list-style-type: none;
}

.pagination-link {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #82b3d3;
    border-radius: 4px;
    padding: 11px 24px;
}


.pagination-more {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border-radius: 4px;
    padding: 11px 24px;
}

.pagination-link-current {
    width: 60px;
    height: 60px;
    background: #f2f2f2;
    color: #000000;
    border-radius: 4px;
}
